

#searchbox {
	position: relative;
	top: -70px;
	/*left: 00px;*/
	color: #111;
	opacity: 0.4;
}

#overskrift {/**/

	position: relative;
	top: 185px;
	right: -100px;
	color: #999;
	opacity: 0.8;
}
.bgimage {
	background-image: url("../images/esp0.jpg");
	background-position: center center;
	background-size: cover;
	height: 330px;
}



